
@import "variables";
body {
 @include grid(1,100%,3,auto); 
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}



/* 





nav----------------------------------------------------------------------------------- */

header {
    width: 100%;
  }
  
  .navegacion {
    background:$fondoNav;
    height: auto;
  }
  
  .listaEnlaces {
    width: 100%;
    justify-content: flex-end;
  
    li a {
      color: $titulo;
      border: 2px solid #40424b;
      font-size: 1.5em;
      margin-right: 20px;
  
      &:hover {
        color: #aaa69a;
      }
    }
  }
  
  .logo {
  @include flex-center;
    height: 100%;
    margin-left: 10px;
  }
  
  .imagen {
    height: 80px;
  
    img {
      height: auto;
    }
  }
  
  .h1 {
    font-size: 45px;
    box-shadow: 0 10px 10px yellow;
    color: $titulo;
  }
  
  .navBoton {
    border-radius: 6px;
    border: 2px solid #03071E;
    color:$titulo;
    background-color: #03071E;
  }
  
  .botonToggle {
    background: linear-gradient(180deg, #000000, #771111);
    border-radius: 0px;display: flex;justify-content: center;align-items: center;
  }
  .spanB{font-size: 20px;font-weight: 600;color: $titulo;  }
  .spanI{height: 30px;width: 30px;margin-bottom: 5px;}


  



  