

@import "variables";
/* FOOTER--------------------- ----------------------------------------------------*/

.footerIndex, .footerFormulario, .footerTendencia, .footerPeliculax {
    @include flex-column;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    background-color: rgb(14, 9, 9);
    height: auto;
  }
  
  .iconos i {
    font-size: 25px;
    padding-right: 12px;
  }
  
  .tituloFooter {
    color: white;
    font-size: 20px;
    margin-right: 5rem;
  }
  .footerH2{display: flex;align-items: center;}
  
  .derechos p {
    color: whitesmoke;
    font-size: 15px;
  }
  
  .iconos a {
    text-decoration: $anclas;
   
  
    :hover {
      transform: scale(1.3);
      transition: 1s;
      
    }
  }

  $redes:(facebook:#1877f2, twitter:#1DA1F2, youtube:#FF0000);

  @each $nombre, $color in $redes {
    .#{$nombre}{color: $color;}
    
  }


  @each $nombre, $color in $redes {
    .#{$nombre}:hover{color: $color;}
    
  }
  


  
 .footerPeliculax{
    background: linear-gradient(0deg, #370617, #080000);
  }
  
  .footerFormulario{@extend .footerPeliculax}
  


