
@import "variables";


/* -----------PAGINA FORMULARIO DE LOGIN/REGISTER------------- */

.bodyFormulario {
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: auto 100% auto;
    display: grid;
    grid-template-areas: "headerFormulario" "mainFormulario " "footerFormulario ";
  }
  
  .headerFormulario {
    grid-area: headerFormulario;
  }
  
  .mainFormulario {
    grid-area: mainFormulario;
  }
  
  .footerFormulario {
    grid-area: footerFormulario;
  }
  
  .mainFormulario {
    background-image: url("../images/Related Keywords Suggestions for movie theater background.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .seccionFormulario {
    margin-top: 25px;
    height: 100%;
    @include flex-center;
  }
  
  .videoFormulario {
    display: $anclas;
  }
  
  .forma {
    width: 400px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 20px 12px rgb(133, 3, 3);
    color: $titulo;
    background-color: rgba(168, 13, 13, 0.192);
    font-family: "calibri";
    @include flex-column;
    flex-wrap: wrap;
  
    h2 {
      margin-bottom: 22px;
      font-size: 30px;
      text-align: center;
    }
  }
  
  .inputFormulario {
    &:hover{border-bottom:2px solid #f50505;border-top:2px solid rgb(3, 47, 97);}
    &::placeholder{color: #fff;}
  
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
  
    &:focus {
      height: 50px;
      font-size: 22px;
      background-color: rgba(255, 255, 255, 0.15);
      color: white;
      transition: 1.5s;

    }
   
  }
  
  .forma p {
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
  }
  #inputState{  background-color: rgba(255, 255, 255, 0.15);color:white;
   option{background-color:rgb(75, 5, 20);color: #fff;}}
  .botonFormulario {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    color: #fff;
    margin-top: 10px;
  }
  
  .botonFormulario:hover {
    letter-spacing: 0.25em;
    background: #f30606;
    color: #050000;
    box-shadow: 0 0 45px #f50505;
  }
  
  .botonFormulario::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .botonFormulario span {
    position: relative;
    z-index: 1;
  }
  
  .botonFormulario i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .botonFormulario i::before {
    content: '';
    position: absolute;
    border: 2px solid #fffb05;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  .botonFormulario:hover i::before {
    width: 20px;
    left: 20%;
  }
  
  .botonFormulario i::after {
    content: '';
    position: absolute;
    border: 2px solid #fffb05;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  .botonFormulario:hover i::after {
    width: 20px;
    left: 80%;
  }
  
  #inputState {
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
  }
  
  option {
    font-size: 15px;
  }
  
  .animate__animated.animate__zoomIn {
    --animate-duration:3s;
  }


