/* HOVER imagenes------------------------------------------------------------------------------- */
[class^="imghvr-"],
[class*=" imghvr-"] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color:rgba(0, 0,0, 0.8);
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

[class^="imghvr-"] > img,
[class*=" imghvr-"] > img {
    vertical-align: top;
    max-width: 100%;
}

[class^="imghvr-"] figcaption,
[class*=" imghvr-"] figcaption {
  display: flex;
  height: 100%;
  justify-content:center;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: column;
    background-color:rgba(0, 0,0, 0.5);
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}


[class^="imghvr-"] figcaption h1,
[class^="imghvr-"] figcaption h2,
[class^="imghvr-"] figcaption h3,
[class^="imghvr-"] figcaption h4,
[class^="imghvr-"] figcaption h5,
[class^="imghvr-"] figcaption h6,
[class*=" imghvr-"] figcaption h1,
[class*=" imghvr-"] figcaption h2,
[class*=" imghvr-"] figcaption h3,
[class*=" imghvr-"] figcaption h4,
[class*=" imghvr-"] figcaption h5,
[class*=" imghvr-"] figcaption h6 {
    color: #ffffff;
}

[class^="imghvr-"] a,
[class*=" imghvr-"] a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

[class^="imghvr-"],
[class*=" imghvr-"],
[class^="imghvr-"]:before,
[class^="imghvr-"]:after,
[class*=" imghvr-"]:before,
[class*=" imghvr-"]:after,
[class^="imghvr-"] *,
[class*=" imghvr-"] *,
[class^="imghvr-"] *:before,
[class^="imghvr-"] *:after,
[class*=" imghvr-"] *:before,
[class*=" imghvr-"] *:after {
    box-sizing: border-box;
    transition: all 0.35s ease;
}










/* imghvr-shutter-in-*
   ----------------------------- */
[class^="imghvr-shutter-in-"]:after, [class^="imghvr-shutter-in-"]:before,
[class*=" imghvr-shutter-in-"]:after,
[class*=" imghvr-shutter-in-"]:before {
    background: rgba(0, 0,0, 0.1);
    position: absolute;
    content: "";
}

[class^="imghvr-shutter-in-"]:after,
[class*=" imghvr-shutter-in-"]:after {
    top: 0;
    left: 0;
}

[class^="imghvr-shutter-in-"]:before,
[class*=" imghvr-shutter-in-"]:before {
    right: 0;
    bottom: 0;
}

[class^="imghvr-shutter-in-"] figcaption,
[class*=" imghvr-shutter-in-"] figcaption {
    opacity: 0;
    z-index: 1;
}

[class^="imghvr-shutter-in-"]:hover figcaption,
[class*=" imghvr-shutter-in-"]:hover figcaption {
    opacity: 1;
    transition-delay: 0.21s;
}

/* imghvr-shutter-in-horiz
   ----------------------------- */
.imghvr-shutter-in-horiz:after, .imghvr-shutter-in-horiz:before {
    width: 0;
    height: 100%;
}

.imghvr-shutter-in-horiz:hover:after, .imghvr-shutter-in-horiz:hover:before {
    width: 50%;
}






img{height: 100%;width: 100%;}
.puntaje{color: yellow;font-weight: 600;}
.divImagen {display: flex;}


/*# sourceMappingURL=imagehover.css.map */

/*# sourceMappingURL=imagehover.css.map */
