

/* MEDIA Y RESPONSIVE  HEADER de todas las paginas------------------------------------------------------ */


@media only screen and (min-width: 992px) {
    .botonToggle {
      display:$anclas;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .botonToggle {
      height: 40px;
      width: 40%;
    }
  }
  
  @media only screen and (min-width: 1205px) {
    .logo {
      animation: mover 3s alternate-reverse infinite;
      transition: 8s;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    @keyframes mover {
      from {
        transform: translateX(0);
      }
  
      to {
        transform: translateX(200px);
      }
    }
  }
  
  @media only screen and (max-width: 991px) {
    .listaEnlaces li a {
      background: linear-gradient(90deg, #000000, #232222);
      justify-content: center;
      width: 90%;
      display: flex;
    }
  
    .logo {
      display: $anclas;
    }
  
    .navBoton, .form-control::placeholder {
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 908px) {
    .listaEnlaces li {
      a {
        font-size: 20px;
      }
  
      width: 90%;
    }
  }

  @media only screen and (max-width: 340px)  {.spanI{display: none;}
  
}
@media only screen and (max-width: 256px) {

.spanB{font-size: 12px;font-weight: 600;}} 



    /* MEDIA Y RESPONSIVE  INDEX.HTML ------------------------------------------------------- */


@media only screen and (max-width: 1216px) and (min-width: 1100px) {
    .heroTexto h2 {
      font-size: 3em;
    }
  }
  
  @media only screen and (max-width: 1099px) and (min-width: 940px) {
    .heroTexto h2 {
      font-size: 2.5em;
    }
  }
  
  @media only screen and (max-width: 939px) and (min-width: 658px) {
    .heroTexto h2 {
      font-size: 2.6em;
    }
  }
  
  @media only screen and (max-width: 657px) and (min-width: 480px) {
    .heroTexto h2 {
      font-size: 2em;
    }
  
    .textoIntroduccion {
      font-size: 1.5em;
    }
  }
  
  @media only screen and (max-width: 309px) {
    .heroTexto h2 {
      font-size: 3rem;
    }
  }
  
  @media screen and (max-width: 285px) {
    .section1 h2 {
      display: $anclas;
    }
  }
  
  @media only screen and (max-width: 979px) {
    .principalh3 {
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 252px) {
    .descargaPopular p {
      font-size: 2.2em;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .carusel {
      margin-top: 6em;
    }
  }
  @media only screen and (max-width: 229px) {.section2Hijo{margin-top: 30px;}
  
  }
  
  @media only screen and (min-width: 909px) {
    .caruselTamaño, .carusel1, .carusel2a, .carusel2b, .carusel2c, .carusel2d, .carusel2e {
      height: 930px;
    }
  }
  
  @media only screen and (min-width: 991px) {
    .divImagen  a:hover {
      transform: scale(1.1);
      transition: 1s;
    } .divImagen-1  a:hover {
      transform: scale(1.1);
      transition: 1s;
    }
  }

  @media only screen and (max-width:954px) {.section2{flex-wrap: wrap;}
  
  }



  @media only screen and (max-width: 991px)and (min-width: 767px) {

    .section2{
  div{width: 200px;}
    
    }} 
  
  
    @media only screen and (max-width: 767px)and (min-width: 352px)  {
  
      .section2{
    div{width: 160px;}
      
      }} 
  
  
      @media only screen and (max-width: 577px)  {
  
        .section2{
      div{width: 150px;}
        
        }} 


        @media only screen and (max-width: 544px)  {
           
          .section2{height: 100%;
        div{width:180px;
       } 
          
          }} 
        
  
  
  
        @media only screen and (max-width: 431px)  {
  
          .section2{
        div{width: 80%;margin: auto;margin-top: 30px;
       } figcaption i{padding-top: 100px;}
          
          }} 
        
      
    
  
  
  
  
  


  /* MEDIA Y RESPONSIVE  TENDENCIAS.HTML ------------------------------------------------------- */


@media only screen and (max-width: 249px) {
    .h3Tendencia {
      font-size: 2.5em;
    }
  }
  
  
@media only screen and (min-width: 605px) {@keyframes trending {from{width: 0;
  filter: none}to{width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))}
  
}

}

@media only screen and (max-width: 604px) {.h2Trending{color: yellow;font-size: 25px;}

}

@media only screen and (max-width: 752px) {.hover-text{border-right:none;}

}


@media only screen and (max-width: 991px)and (min-width: 767px) {

  .flexTendencia{gap: 20px;padding: 80px 0;
div{width: 200px;}
  
  }} 


  @media only screen and (max-width: 767px)and (min-width: 352px)  {

    .flexTendencia{gap: 20px;padding: 80px 0;
  div{width: 160px;}
    
    }} 


    @media only screen and (max-width: 536px)  {

      .flexTendencia{gap: 20px;padding: 80px 0;
    div{width: 200px;}
      
      }} 



      @media only screen and (max-width: 431px)  {

        .flexTendencia{gap: 20px;padding: 80px 0;
      div{width: 80%;margin: auto;margin-top: 30px;
     } figcaption i{padding-top: 100px;}
        
        }} 
      
    
        @media (min-width: 768px) {
          .button-54 {
            padding: 0.25em 0.75em;
          }
        }



    
/* MEDIA Y RESPONSIVE  FORMULARIO.HTML ------------------------------------------------------- */


@media screen and (max-width: 619px) {
    .bodyFormulario {
      background-color: black;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .boton {
      margin: 40px;
    }
  }
  
  @media only screen and (max-width: 908px) {
    label {
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 1280px) {
    .seccionFormulario {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      animation: moviendo 2.8s ease-in;
      transition: 2.8s;
      height: 650px;
    }
  
    @keyframes moviendo {
      from {
        z-index: -1;
      }
  
      to {
        z-index: 1;
      }
    }
  
    .videoFormulario {
      width: 100%;
      margin: auto;
      display: block;
      height: 100%;
    }
  
    .mainFormulario {
      position: relative;
    }
  
    .animate__animated.animate__zoomIn {
      --animate-duration:6s;
    }
  }




   /* MEDIA Y RESPONSIVE  PELICULAX.HTML ------------------------------------------------------- */


@media only screen and (max-width: 661px) {
    .mainPeliculax {
      padding: 1.87em 0;
      background-position: center;
      background-size: cover;
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "tituloPeliculax" "primeroPeliculax" "iconosPeliculax" "argumentoPeliculax";
    }
  }
  
  @media only screen and (max-width: 661px) and (min-width: 512px) {
    .mainPeliculax {
      padding: 1.87em 0;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "tituloPeliculax tituloPeliculax" "primeroPeliculax iconosPeliculax" "argumentoPeliculax argumentoPeliculax";
    }
  }
  
  @media only screen and (max-width: 479px) {
    .mainPeliculax {
      padding: 1.87em 0;
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "tituloPeliculax" "primeroPeliculax" "iconosPeliculax" "argumentoPeliculax";
    }
  }
  
  @media only screen and (max-width: 294px) {
    .iconosPeliculax {
      margin: auto;
    }
  }
  
  @media only screen and (max-width: 661px) {
    .descargar {
      width: 242px;
    }
  
    .tituloPeliculax {
      margin: auto;
      text-align: center;
    }
  
    .iconosPeliculax, .primeroPeliculax {
      margin: auto;
    }
  }
  
  @media only screen and (max-width: 661px) {
    .trailerContenedor {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  
    .trailerVideo, .trailerImagen {
      width: 80%;
      margin: 2rem;
    }
  }
  
  @media only screen and (max-width: 661px) {
    .trailerImagen {
      height: 16em;
    }
  }
  
  @media only screen and (max-width: 358px) {
    .trailerContenedor {
      margin-top: 8em;
    }
  }
  
  @media only screen and (max-width: 383px) and (min-width: 222px) {
    .primeroPeliculax {
      margin-top: 15em;
    }
  
    .iconosPeliculax {
      margin-top: 10em;
    }
  }
  
  @media only screen and (max-width: 511px) and (min-width: 222px) {
    .iconosPeliculax {
      margin-top: 10em;
    }
  }
  
  @media only screen and (max-width: 222px) {
    .primeroPeliculax {
      margin-top: 20em;
    }
  
    .iconosPeliculax {
      margin-top: 10em;
    }
  }
  
  @media only screen and (max-width: 267px) {
    .imagenPeliculax, .descargar {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1342px) {
    .trailerImagen img:hover {
      transform: scale(1.1);
      transition: 2s;
    }
  }
  
  @media only screen and (max-width: 511px) and (min-width: 327px) {
    .imagenPeliculax, .descargar {
      width: 300px;
    }
  }
  
  @media only screen and (min-width: 991px) {@for $i from 1 to 28 {
  
    .pelicula#{$i} {
      background-image: url("../images/bkg#{$i}.jpg");
      background-size: cover;
      background-position: center;
    }
    
  }}
  
  @media only screen and (max-width: 1342px) {
    .bodyPeliculax {
      background-color: rgb(14, 9, 9);
    }
  }
  
  @media only screen and (max-width: 220px) {
    .porcentaje p {
      font-size: 2.5em;
    }
  
    .calidad {
      display: $anclas;
    }
  }

  @media only screen and (max-width: 722px) {
    .argumentoHijo {
      flex-direction: column;
    width: 100%;}.argumentoTexto{width: 100%;}}
  
  @media only screen and (min-width: 1342px) {
    .argumentoHijo {
      font-size: 20px;
  
      h3 {
        font-size: 25px;
      }
    }
  }
  
  @media only screen and (max-width: 725px) and (min-width: 662px) {
    .trailerContenedor {
      margin-top: 3em;
    }
  }
  

    /* MEDIA Y RESPONSIVE  FOOTER de todas las paginas------------------------------------------------------ */


@media only screen and (max-width: 329px) {
    .textoFooter {
      font-size: 0.93em;
    }
  }
  
  @media only screen and (max-width: 308px) {
    .derechos p {
      color: whitesmoke;
      font-size: 1.4em;
    }
  }



  /* MEDIA Y RESPONSIVE HTML------------------------------------------------------ */

@media only screen and (max-width: 908px) {
    html {
      font-size: 70%;
    }
  }
  
  @media only screen and (max-width: 479px) {
    html {
      font-size: 50%;
    }
  }
  
  
  
  @media only screen and (max-width: 285px) {
    html {
      font-size: 60%;
    }
  }
  
  @media only screen and (max-width: 241px) {
    html {
      font-size: 50%;
    }
  }
  