

@import "variables";

/* ---------------------PAGINA TENDENCIAS --------*/


.h2Tendencia {
    color:$titulo;
    text-align: center;
    width: auto;
    padding-top: 10px;
    font-size: 35px;
    text-shadow: 1px 1px 20px rgb(206, 193, 11);
  }
  
  .mainTendencia {
    background-color: black;
  }
  
 
  
  .videoTendencia {
    width: 100%;
    height: 400px;
  }
  
  .tendenciasFondo {
    background: linear-gradient(90deg, #000000, #141212);
  }
  
  .col {
    a {
      text-decoration:$anclas;
      color: white;
      font-size: 24px;
  
      &:hover {
        color: grey;
      }
    }
  
    p {
      color: rgb(153, 147, 147);
      font-size: 16px;
    }
  }



  
