@mixin flex-column {display: flex;flex-direction: column;}

@mixin flex-center {display: flex;justify-content: center;align-items: center;}

@mixin grid( $columnas , $size , $filas , $sizef) {
  display: grid;
  grid-template-columns: repeat($columnas , $size);
  grid-template-rows: repeat($filas , $sizef);
  
}
    


@mixin position{position: absolute;margin: auto;top: 0;right: 0;left: 0;bottom: 0;}

@mixin contenedor {margin: auto;max-width: 1200px;padding: 60px 0;overflow: hidden;width: 90%;
    
}

$fondoNav: linear-gradient(0deg, #370617, #080000);