








* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri";
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}


@import "variables" , "body-header" , "index-carusel-main" , "formulario" , "tendencias" , "pelicula-x" , "footer" , "media" ,  "hover"  ;














