*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'calibri';}









* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri";
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}


@import "variables" , "body-header" , "index-carusel-main" , "formulario" , "tendencias" , "pelicula-x" , "footer";











/* MEDIA Y RESPONSIVE  HEADER de todas las paginas------------------------------------------------------ */
@media only screen and (min-width: 992px) {
  .botonToggle {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .botonToggle {
    height: 40px;
    width: 40%;
  }
}

@media only screen and (min-width: 1205px) {
  .logo {
    animation: mover 3s alternate-reverse infinite;
    transition: 8s;
  }
}

@media only screen and (min-width: 1024px) {
  @keyframes mover {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(200px);
    }
  }
}

@media only screen and (max-width: 991px) {
  .listaEnlaces li a {
    background: linear-gradient(90deg, #000000, #232222);
    justify-content: center;
    width: 90%;
    display: flex;
  }

  .logo {
    display: none;
  }

  .navBoton, .form-control::placeholder {
    font-size: 15px;
  }
}

@media only screen and (max-width: 908px) {
  .listaEnlaces li {
    a {
      font-size: 20px;
    }

    width: 90%;
  }
}

/* MEDIA Y RESPONSIVE  INDEX.HTML ------------------------------------------------------- */
@media only screen and (max-width: 1216px) and (min-width: 1100px) {
  .heroTexto h2 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 1099px) and (min-width: 940px) {
  .heroTexto h2 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 939px) and (min-width: 658px) {
  .heroTexto h2 {
    font-size: 2.6em;
  }
}

@media only screen and (max-width: 657px) and (min-width: 480px) {
  .heroTexto h2 {
    font-size: 2em;
  }

  .textoIntroduccion {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 285px) {
  .section1 h2 {
    display: none;
  }
}

@media only screen and (max-width: 979px) {
  .principalh3 {
    text-align: center;
  }
}

@media only screen and (max-width: 252px) {
  .descargaPopular p {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 992px) {
  .carusel {
    margin-top: 6em;
  }
}

@media only screen and (min-width: 909px) {
  .caruselTamaño, .carusel1, .carusel2a, .carusel2b, .carusel2c, .carusel2d, .carusel2e {
    height: 930px;
  }
}

@media only screen and (min-width: 991px) {
  .divImagen img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
}

/* MEDIA Y RESPONSIVE  FORMULARIO.HTML ------------------------------------------------------- */
@media screen and (max-width: 619px) {
  .bodyFormulario {
    background-color: black;
  }
}

@media only screen and (max-width: 300px) {
  .boton {
    margin: 40px;
  }
}

@media only screen and (max-width: 908px) {
  label {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .seccionFormulario {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: moviendo 2.3s ease-in;
    transition: 2.3s;
    height: 650px;
  }

  @keyframes moviendo {
    from {
      z-index: -1;
    }

    to {
      z-index: 1;
    }
  }

  .videoFormulario {
    width: 100%;
    margin: auto;
    display: block;
    height: 100%;
  }

  .mainFormulario {
    position: relative;
  }

  .animate__animated.animate__zoomIn {
    --animate-duration:6s;
  }
}

/* MEDIA Y RESPONSIVE  TENDENCIAS.HTML ------------------------------------------------------- */
@media only screen and (max-width: 249px) {
  .h3Tendencia {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 991px) {
  .col img:hover {
    transform: scale(1.05);
    transition: transform 1s;
  }
}

/* MEDIA Y RESPONSIVE  PELICULAX.HTML ------------------------------------------------------- */
@media only screen and (max-width: 661px) {
  .mainPeliculax {
    padding: 1.87em 0;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloPeliculax" "primeroPeliculax" "iconosPeliculax" "argumentoPeliculax";
  }
}

@media only screen and (max-width: 661px) and (min-width: 512px) {
  .mainPeliculax {
    padding: 1.87em 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "tituloPeliculax tituloPeliculax" "primeroPeliculax iconosPeliculax" "argumentoPeliculax argumentoPeliculax";
  }
}

@media only screen and (max-width: 479px) {
  .mainPeliculax {
    padding: 1.87em 0;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloPeliculax" "primeroPeliculax" "iconosPeliculax" "argumentoPeliculax";
  }
}

@media only screen and (max-width: 294px) {
  .iconosPeliculax {
    margin: auto;
  }
}

@media only screen and (max-width: 661px) {
  .descargar {
    width: 242px;
  }

  .tituloPeliculax {
    margin: auto;
    text-align: center;
  }

  .iconosPeliculax, .primeroPeliculax {
    margin: auto;
  }
}

@media only screen and (max-width: 661px) {
  .trailerContenedor {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .trailerVideo, .trailerImagen {
    width: 80%;
    margin: 2rem;
  }
}

@media only screen and (max-width: 661px) {
  .trailerImagen {
    height: 16em;
  }
}

@media only screen and (max-width: 358px) {
  .trailerContenedor {
    margin-top: 8em;
  }
}

@media only screen and (max-width: 383px) and (min-width: 222px) {
  .primeroPeliculax {
    margin-top: 15em;
  }

  .iconosPeliculax {
    margin-top: 10em;
  }
}

@media only screen and (max-width: 511px) and (min-width: 222px) {
  .iconosPeliculax {
    margin-top: 10em;
  }
}

@media only screen and (max-width: 222px) {
  .primeroPeliculax {
    margin-top: 20em;
  }

  .iconosPeliculax {
    margin-top: 10em;
  }
}

@media only screen and (max-width: 267px) {
  .imagenPeliculax, .descargar {
    width: 100%;
  }
}

@media only screen and (min-width: 1342px) {
  .trailerImagen img:hover {
    transform: scale(1.1);
    transition: 2s;
  }
}

@media only screen and (max-width: 511px) and (min-width: 327px) {
  .imagenPeliculax, .descargar {
    width: 300px;
  }
}

@media only screen and (min-width: 991px) {
  .mainPeliculax {
    background-image: url("../images/cropped-1200-1118-1116286.jpg");
    background-size: cover;
  }

  .pelicula2 {
    background-image: url("../images/bkg1.jpg");
    background-size: cover;
    background-position: center;
  }

  .pelicula3 {
    background-image: url("../images/bkg2.jpg");
    background-size: cover;
    background-position: center;
  }

  .pelicula4 {
    background-image: url("../images/bkg3.jpg");
    background-size: cover;
    background-position: center;
  }

  .pelicula5 {
    background-image: url("../images/bkg4.jpg");
    background-size: cover;
    background-position: center;
  }

  .pelicula6 {
    background-image: url("../images/bkg5.jpg");
    background-size: cover;
  }

  .pelicula7 {
    background-image: url("../images/bk6.jpg");
  }

  .pelicula8 {
    background-image: url("../images/bkg7.jpg");
    background-size: cover;
  }

  .pelicula9 {
    background-image: url("../images/bkg8.jpg");
    background-size: cover;
    background-position: center;
  }

  .pelicula10 {
    background-image: url("../images/bkg9.jpg");
    background-size: cover;
  }

  .pelicula11 {
    background-image: url("../images/bkg10.jpg");
    background-size: cover;
    background-position: center;
  }

  .pelicula12 {
    background-image: url("../images/bkg11.jpg");
  }
}

@media only screen and (max-width: 1342px) {
  .bodyPeliculax {
    background-color: rgb(14, 9, 9);
  }
}

@media only screen and (max-width: 220px) {
  .porcentaje p {
    font-size: 2.5em;
  }

  .calidad {
    display: none;
  }
}

@media only screen and (min-width: 1342px) {
  .argumentoHijo {
    font-size: 26px;

    h3 {
      font-size: 35px;
    }
  }
}

@media only screen and (max-width: 725px) and (min-width: 662px) {
  .trailerContenedor {
    margin-top: 3em;
  }
}

/* MEDIA Y RESPONSIVE  FOOTER de todas las paginas------------------------------------------------------ */
@media only screen and (max-width: 329px) {
  .textoFooter {
    font-size: 0.93em;
  }
}

@media only screen and (max-width: 308px) {
  .derechos p {
    color: whitesmoke;
    font-size: 1.4em;
  }
}

/* MEDIA Y RESPONSIVE HTML------------------------------------------------------ */
@media only screen and (max-width: 908px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 479px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 309px) {
  .heroTexto h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 285px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 241px) {
  html {
    font-size: 50%;
  }
}