@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri";
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* 





nav----------------------------------------------------------------------------------- */
header {
  width: 100%;
}

.navegacion {
  background: linear-gradient(0deg, #370617, #080000);
  height: auto;
}

.listaEnlaces {
  width: 100%;
  justify-content: flex-end;
}
.listaEnlaces li a {
  color: #FFBA08;
  border: 2px solid #40424b;
  font-size: 1.5em;
  margin-right: 20px;
}
.listaEnlaces li a:hover {
  color: #aaa69a;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

.imagen {
  height: 80px;
}
.imagen img {
  height: auto;
}

.h1 {
  font-size: 45px;
  box-shadow: 0 10px 10px yellow;
  color: #FFBA08;
}

.navBoton {
  border-radius: 6px;
  border: 2px solid #03071E;
  color: #FFBA08;
  background-color: #03071E;
}

.botonToggle {
  background: linear-gradient(180deg, #000000, #771111);
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanB {
  font-size: 20px;
  font-weight: 600;
  color: #FFBA08;
}

.spanI {
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
}

/* hero carusel imagenes------------------------------------------------------------------------------- */
.caruselTamaño {
  height: 400px;
  position: relative;
}

.carusel1, .carusel2a, .carusel2b, .carusel2c, .carusel2d, .carusel2e {
  height: 400px;
}

.caruselTamaño img {
  height: 100%;
  width: 100%;
}

.section1 {
  margin: auto;
  max-width: 1200px;
  padding: 60px 0;
  overflow: hidden;
  width: 90%;
  height: auto;
  color: #F48C06;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 0.5px solid gray;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.heroTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.heroTexto h2 {
  font-size: 3.4rem;
  font-weight: 600;
  text-shadow: 1px 2px black;
}

strong {
  color: #dcff14;
  font-weight: 700;
}

.textoIntroduccion {
  font-size: 1.87rem;
  width: 80%;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.descargaPopular {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.descargaPopular i {
  color: yellow;
  font-weight: 600;
  margin-bottom: 16px;
}
.descargaPopular p {
  font-size: 25px;
  font-weight: 600;
  color: #FFBA08;
}

/* main-----------------------------------------------------------------------------------*/
.principal {
  width: 100%;
  min-height: 500px;
  background-color: rgb(14, 9, 9);
}

.principalh3 {
  padding-top: 20px;
  margin: auto;
  max-width: 1000px;
  font-size: 25px;
  font-weight: 700;
  color: #FFBA08;
}

.section2 {
  height: 100%;
  gap: 20px;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 60px 0;
  overflow: hidden;
  width: 90%;
}

.section2Hijo {
  height: 400px;
  width: 230px;
  display: flex;
  flex-direction: column;
}

.divImagen-1 {
  height: 350px;
  width: 100%;
  border-right: 5px solid #cf084e;
  border-top: 5px solid #e60808;
  border-radius: 4px;
}
.divImagen-1 img {
  height: 100%;
  width: 100%;
}

.divImagen {
  height: 350px;
  width: 100%;
  border: 5px solid #370617;
  border-radius: 4px;
}

.divImagena {
  border: 5px solid #682186;
}

.divImagen img {
  height: 100%;
  width: 100%;
}

.section2Hijo {
  margin-top: 10px;
}
.section2Hijo a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.section2Hijo p {
  font-size: 20px;
}

.fecha {
  color: rgb(153, 147, 147);
}

.segundo {
  background: linear-gradient(0deg, #370617, #080000);
}

/* -----------PAGINA FORMULARIO DE LOGIN/REGISTER------------- */
.bodyFormulario {
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto 100% auto;
  display: grid;
  grid-template-areas: "headerFormulario" "mainFormulario " "footerFormulario ";
}

.headerFormulario {
  grid-area: headerFormulario;
}

.mainFormulario {
  grid-area: mainFormulario;
}

.footerFormulario {
  grid-area: footerFormulario;
}

.mainFormulario {
  background-image: url("../images/Related Keywords Suggestions for movie theater background.jpg");
  background-size: cover;
  background-position: center;
}

.seccionFormulario {
  margin-top: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoFormulario {
  display: none;
}

.forma {
  width: 400px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 20px 12px rgb(133, 3, 3);
  color: #FFBA08;
  background-color: rgba(168, 13, 13, 0.192);
  font-family: "calibri";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.forma h2 {
  margin-bottom: 22px;
  font-size: 30px;
  text-align: center;
}

.inputFormulario {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}
.inputFormulario:hover {
  border-bottom: 2px solid #f50505;
  border-top: 2px solid rgb(3, 47, 97);
}
.inputFormulario::placeholder {
  color: #fff;
}
.inputFormulario:focus {
  height: 50px;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  transition: 1.5s;
}

.forma p {
  text-align: center;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}

#inputState {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}
#inputState option {
  background-color: rgb(75, 5, 20);
  color: #fff;
}

.botonFormulario {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  color: #fff;
  margin-top: 10px;
}

.botonFormulario:hover {
  letter-spacing: 0.25em;
  background: #f30606;
  color: #050000;
  box-shadow: 0 0 45px #f50505;
}

.botonFormulario::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}

.botonFormulario span {
  position: relative;
  z-index: 1;
}

.botonFormulario i {
  position: absolute;
  inset: 0;
  display: block;
}

.botonFormulario i::before {
  content: "";
  position: absolute;
  border: 2px solid #fffb05;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.botonFormulario:hover i::before {
  width: 20px;
  left: 20%;
}

.botonFormulario i::after {
  content: "";
  position: absolute;
  border: 2px solid #fffb05;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

.botonFormulario:hover i::after {
  width: 20px;
  left: 80%;
}

#inputState {
  padding: 12px;
  border-radius: 4px;
  font-size: 15px;
}

option {
  font-size: 15px;
}

.animate__animated.animate__zoomIn {
  --animate-duration:3s;
}

/* ---------------------PAGINA TENDENCIAS --------*/
.mainTendencia {
  background-color: black;
}

.flexTendencia {
  gap: 20px;
  padding: 80px 0;
  border-radius: 15px;
}

.videoTendencia {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  background-image: url("https://res.cloudinary.com/dtzqfg4nr/image/upload/v1669408497/21034617_bz7fyz.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.videoTendencia a {
  text-decoration: none;
}
.videoTendencia p {
  color: #FFBA08;
  font-weight: 700;
  font-size: 20px;
}
.videoTendencia img {
  height: 80%;
  width: 100%;
}

.tendenciasFondo {
  background: linear-gradient(90deg, #000000, #141212);
  position: relative;
}

.col a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.col a:hover {
  color: grey;
}
.col p {
  color: white;
  font-size: 20px;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 186, 8, 0.8);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: linear-gradient(180deg, #000000, #771111);
}
.button-54 a {
  text-decoration: none;
  color: #FFBA08;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.flechas img {
  width: 60px;
  height: 30px;
  margin: auto;
}

/* ---------------------PAGINA Peliculax --------*/
.bodyPeliculax {
  background-image: url("../images/umberto-FewHpO4VC9Y-unsplash.jpg");
  color: whitesmoke;
}

.mainPeliculax {
  margin: auto;
  max-width: 1200px;
  padding: 60px 0;
  overflow: hidden;
  width: 90%;
}

.caruselPelicula {
  margin-top: 96px;
}

.mainPeliculax {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto 300px auto;
  grid-template-areas: "primeroPeliculax tituloPeliculax" "primeroPeliculax iconosPeliculax" "argumentoPeliculax argumentoPeliculax";
}

.primeroPeliculax {
  grid-area: primeroPeliculax;
}

.tituloPeliculax {
  grid-area: tituloPeliculax;
}

.iconosPeliculax {
  grid-area: iconosPeliculax;
}

.argumentoPeliculax {
  grid-area: argumentoPeliculax;
}

.imagenPeliculax {
  width: 250px;
  height: 350px;
  border: 7px solid #370617;
  border-radius: 4px;
}
.imagenPeliculax img {
  height: 100%;
  width: 100%;
}

.primeroPeliculax {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.descargar {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.descargar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  background-color: #6A040F;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.tituloPeliculax {
  margin-left: 80px;
  height: 200px;
}
.tituloPeliculax h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.tituloPeliculax h3 {
  font-size: 22px;
  font-weight: bold;
}

.iconosPeliculax {
  margin-left: 80px;
  margin-bottom: 200px;
  height: 300px;
}
.iconosPeliculax p {
  font-size: 20px;
  font-weight: 700;
}

.bluray1, .bluray2 {
  background-color: green;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 4px;
  width: 200px;
  height: 300px;
  color: white;
}

.bluray2 {
  margin-left: 10px;
}

.calidad {
  display: flex;
}

.porcentaje {
  display: flex;
  gap: 20px;
}
.porcentaje i {
  font-size: 30px;
  color: #FFBA08;
}

.iconosHijo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.porcentaje p {
  font-size: 25px;
}

.trailerContenedor {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 20px;
}

.trailerVideo {
  width: 33%;
  height: 200px;
  margin: 1rem;
}
.trailerVideo iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid black;
}

.trailerImagen {
  width: 33%;
  height: 200px;
  margin: 1rem;
}
.trailerImagen img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid black;
}

.argumentoHijo {
  background-color: rgba(1, 1, 1, 0.5);
  display: flex;
  margin: auto;
  height: auto;
  text-align: center;
  gap: 50px;
  font-size: 20px;
}
.argumentoHijo h3::after {
  content: ":";
}

.argumentoTexto {
  width: 60%;
}
.argumentoTexto h3 {
  font-size: 25px;
  text-decoration: underline;
}
.argumentoTexto p {
  margin-top: 20px;
  font-size: 20px;
}

.argumentoHijob h3 {
  margin-top: 20px;
  font-size: 25px;
  text-decoration: underline;
}

.argumentoHijoa h3 {
  font-size: 25px;
  text-decoration: underline;
}

/* FOOTER--------------------- ----------------------------------------------------*/
.footerIndex, .footerFormulario, .footerTendencia, .footerPeliculax {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  background-color: rgb(14, 9, 9);
  height: auto;
}

.iconos i {
  font-size: 25px;
  padding-right: 12px;
}

.tituloFooter {
  color: white;
  font-size: 20px;
  margin-right: 5rem;
}

.footerH2 {
  display: flex;
  align-items: center;
}

.derechos p {
  color: whitesmoke;
  font-size: 15px;
}

.iconos a {
  text-decoration: none;
}
.iconos a :hover {
  transform: scale(1.3);
  transition: 1s;
}

.facebook {
  color: #1877f2;
}

.twitter {
  color: #1DA1F2;
}

.youtube {
  color: #FF0000;
}

.facebook:hover {
  color: #1877f2;
}

.twitter:hover {
  color: #1DA1F2;
}

.youtube:hover {
  color: #FF0000;
}

.footerPeliculax {
  background-color: #370617;
}

.footerTendencia, .footerFormulario {
  background: linear-gradient(0deg, #370617, #080000);
}

/* MEDIA Y RESPONSIVE  HEADER de todas las paginas------------------------------------------------------ */
@media only screen and (min-width: 992px) {
  .botonToggle {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .botonToggle {
    height: 40px;
    width: 40%;
  }
}
@media only screen and (min-width: 1205px) {
  .logo {
    animation: mover 3s alternate-reverse infinite;
    transition: 8s;
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes mover {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(200px);
    }
  }
}
@media only screen and (max-width: 991px) {
  .listaEnlaces li a {
    background: linear-gradient(90deg, #000000, #232222);
    justify-content: center;
    width: 90%;
    display: flex;
  }
  .logo {
    display: none;
  }
  .navBoton, .form-control::placeholder {
    font-size: 15px;
  }
}
@media only screen and (max-width: 908px) {
  .listaEnlaces li {
    width: 90%;
  }
  .listaEnlaces li a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 340px) {
  .spanI {
    display: none;
  }
}
@media only screen and (max-width: 256px) {
  .spanB {
    font-size: 12px;
    font-weight: 600;
  }
}
/* MEDIA Y RESPONSIVE  INDEX.HTML ------------------------------------------------------- */
@media only screen and (max-width: 1216px) and (min-width: 1100px) {
  .heroTexto h2 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 1099px) and (min-width: 940px) {
  .heroTexto h2 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 939px) and (min-width: 658px) {
  .heroTexto h2 {
    font-size: 2.6em;
  }
}
@media only screen and (max-width: 657px) and (min-width: 480px) {
  .heroTexto h2 {
    font-size: 2em;
  }
  .textoIntroduccion {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 309px) {
  .heroTexto h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 285px) {
  .section1 h2 {
    display: none;
  }
}
@media only screen and (max-width: 979px) {
  .principalh3 {
    text-align: center;
  }
}
@media only screen and (max-width: 252px) {
  .descargaPopular p {
    font-size: 2.2em;
  }
}
@media only screen and (min-width: 992px) {
  .carusel {
    margin-top: 6em;
  }
}
@media only screen and (max-width: 229px) {
  .section2Hijo {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 909px) {
  .caruselTamaño, .carusel1, .carusel2a, .carusel2b, .carusel2c, .carusel2d, .carusel2e {
    height: 930px;
  }
}
@media only screen and (min-width: 991px) {
  .divImagen a:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .divImagen-1 a:hover {
    transform: scale(1.1);
    transition: 1s;
  }
}
@media only screen and (max-width: 954px) {
  .section2 {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 991px) and (min-width: 767px) {
  .section2 div {
    width: 200px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 352px) {
  .section2 div {
    width: 160px;
  }
}
@media only screen and (max-width: 577px) {
  .section2 div {
    width: 150px;
  }
}
@media only screen and (max-width: 544px) {
  .section2 {
    height: 100%;
  }
  .section2 div {
    width: 180px;
  }
}
@media only screen and (max-width: 431px) {
  .section2 div {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
  .section2 figcaption i {
    padding-top: 100px;
  }
}
/* MEDIA Y RESPONSIVE  TENDENCIAS.HTML ------------------------------------------------------- */
@media only screen and (max-width: 249px) {
  .h3Tendencia {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 605px) {
  @keyframes trending {
    from {
      width: 0;
      filter: none;
    }
    to {
      width: 100%;
      filter: drop-shadow(0 0 23px var(--animation-color));
    }
  }
}
@media only screen and (max-width: 604px) {
  .h2Trending {
    color: yellow;
    font-size: 25px;
  }
}
@media only screen and (max-width: 752px) {
  .hover-text {
    border-right: none;
  }
}
@media only screen and (max-width: 991px) and (min-width: 767px) {
  .flexTendencia {
    gap: 20px;
    padding: 80px 0;
  }
  .flexTendencia div {
    width: 200px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 352px) {
  .flexTendencia {
    gap: 20px;
    padding: 80px 0;
  }
  .flexTendencia div {
    width: 160px;
  }
}
@media only screen and (max-width: 536px) {
  .flexTendencia {
    gap: 20px;
    padding: 80px 0;
  }
  .flexTendencia div {
    width: 200px;
  }
}
@media only screen and (max-width: 431px) {
  .flexTendencia {
    gap: 20px;
    padding: 80px 0;
  }
  .flexTendencia div {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
  .flexTendencia figcaption i {
    padding-top: 100px;
  }
}
@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
/* MEDIA Y RESPONSIVE  FORMULARIO.HTML ------------------------------------------------------- */
@media screen and (max-width: 619px) {
  .bodyFormulario {
    background-color: black;
  }
}
@media only screen and (max-width: 300px) {
  .boton {
    margin: 40px;
  }
}
@media only screen and (max-width: 908px) {
  label {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .seccionFormulario {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: moviendo 2.8s ease-in;
    transition: 2.8s;
    height: 650px;
  }
  @keyframes moviendo {
    from {
      z-index: -1;
    }
    to {
      z-index: 1;
    }
  }
  .videoFormulario {
    width: 100%;
    margin: auto;
    display: block;
    height: 100%;
  }
  .mainFormulario {
    position: relative;
  }
  .animate__animated.animate__zoomIn {
    --animate-duration:6s;
  }
}
/* MEDIA Y RESPONSIVE  PELICULAX.HTML ------------------------------------------------------- */
@media only screen and (max-width: 661px) {
  .mainPeliculax {
    padding: 1.87em 0;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloPeliculax" "primeroPeliculax" "iconosPeliculax" "argumentoPeliculax";
  }
}
@media only screen and (max-width: 661px) and (min-width: 512px) {
  .mainPeliculax {
    padding: 1.87em 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "tituloPeliculax tituloPeliculax" "primeroPeliculax iconosPeliculax" "argumentoPeliculax argumentoPeliculax";
  }
}
@media only screen and (max-width: 479px) {
  .mainPeliculax {
    padding: 1.87em 0;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "tituloPeliculax" "primeroPeliculax" "iconosPeliculax" "argumentoPeliculax";
  }
}
@media only screen and (max-width: 294px) {
  .iconosPeliculax {
    margin: auto;
  }
}
@media only screen and (max-width: 661px) {
  .descargar {
    width: 242px;
  }
  .tituloPeliculax {
    margin: auto;
    text-align: center;
  }
  .iconosPeliculax, .primeroPeliculax {
    margin: auto;
  }
}
@media only screen and (max-width: 661px) {
  .trailerContenedor {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .trailerVideo, .trailerImagen {
    width: 80%;
    margin: 2rem;
  }
}
@media only screen and (max-width: 661px) {
  .trailerImagen {
    height: 16em;
  }
}
@media only screen and (max-width: 358px) {
  .trailerContenedor {
    margin-top: 8em;
  }
}
@media only screen and (max-width: 383px) and (min-width: 222px) {
  .primeroPeliculax {
    margin-top: 15em;
  }
  .iconosPeliculax {
    margin-top: 10em;
  }
}
@media only screen and (max-width: 511px) and (min-width: 222px) {
  .iconosPeliculax {
    margin-top: 10em;
  }
}
@media only screen and (max-width: 222px) {
  .primeroPeliculax {
    margin-top: 20em;
  }
  .iconosPeliculax {
    margin-top: 10em;
  }
}
@media only screen and (max-width: 267px) {
  .imagenPeliculax, .descargar {
    width: 100%;
  }
}
@media only screen and (min-width: 1342px) {
  .trailerImagen img:hover {
    transform: scale(1.1);
    transition: 2s;
  }
}
@media only screen and (max-width: 511px) and (min-width: 327px) {
  .imagenPeliculax, .descargar {
    width: 300px;
  }
}
@media only screen and (min-width: 991px) {
  .pelicula1 {
    background-image: url("../images/bkg1.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula2 {
    background-image: url("../images/bkg2.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula3 {
    background-image: url("../images/bkg3.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula4 {
    background-image: url("../images/bkg4.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula5 {
    background-image: url("../images/bkg5.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula6 {
    background-image: url("../images/bkg6.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula7 {
    background-image: url("../images/bkg7.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula8 {
    background-image: url("../images/bkg8.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula9 {
    background-image: url("../images/bkg9.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula10 {
    background-image: url("../images/bkg10.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula11 {
    background-image: url("../images/bkg11.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula12 {
    background-image: url("../images/bkg12.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula13 {
    background-image: url("../images/bkg13.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula14 {
    background-image: url("../images/bkg14.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula15 {
    background-image: url("../images/bkg15.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula16 {
    background-image: url("../images/bkg16.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula17 {
    background-image: url("../images/bkg17.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula18 {
    background-image: url("../images/bkg18.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula19 {
    background-image: url("../images/bkg19.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula20 {
    background-image: url("../images/bkg20.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula21 {
    background-image: url("../images/bkg21.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula22 {
    background-image: url("../images/bkg22.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula23 {
    background-image: url("../images/bkg23.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula24 {
    background-image: url("../images/bkg24.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula25 {
    background-image: url("../images/bkg25.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula26 {
    background-image: url("../images/bkg26.jpg");
    background-size: cover;
    background-position: center;
  }
  .pelicula27 {
    background-image: url("../images/bkg27.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 1342px) {
  .bodyPeliculax {
    background-color: rgb(14, 9, 9);
  }
}
@media only screen and (max-width: 220px) {
  .porcentaje p {
    font-size: 2.5em;
  }
  .calidad {
    display: none;
  }
}
@media only screen and (max-width: 722px) {
  .argumentoHijo {
    flex-direction: column;
    width: 100%;
  }
  .argumentoTexto {
    width: 100%;
  }
}
@media only screen and (min-width: 1342px) {
  .argumentoHijo {
    font-size: 20px;
  }
  .argumentoHijo h3 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 725px) and (min-width: 662px) {
  .trailerContenedor {
    margin-top: 3em;
  }
}
/* MEDIA Y RESPONSIVE  FOOTER de todas las paginas------------------------------------------------------ */
@media only screen and (max-width: 329px) {
  .textoFooter {
    font-size: 0.93em;
  }
}
@media only screen and (max-width: 308px) {
  .derechos p {
    color: whitesmoke;
    font-size: 1.4em;
  }
}
/* MEDIA Y RESPONSIVE HTML------------------------------------------------------ */
@media only screen and (max-width: 908px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 479px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 285px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 241px) {
  html {
    font-size: 50%;
  }
}
/* HOVER imagenes------------------------------------------------------------------------------- */
[class^=imghvr-],
[class*=" imghvr-"] {
  position: relative;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[class^=imghvr-] > img,
[class*=" imghvr-"] > img {
  vertical-align: top;
  max-width: 100%;
}

[class^=imghvr-] figcaption,
[class*=" imghvr-"] figcaption {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

[class^=imghvr-] figcaption h1,
[class^=imghvr-] figcaption h2,
[class^=imghvr-] figcaption h3,
[class^=imghvr-] figcaption h4,
[class^=imghvr-] figcaption h5,
[class^=imghvr-] figcaption h6,
[class*=" imghvr-"] figcaption h1,
[class*=" imghvr-"] figcaption h2,
[class*=" imghvr-"] figcaption h3,
[class*=" imghvr-"] figcaption h4,
[class*=" imghvr-"] figcaption h5,
[class*=" imghvr-"] figcaption h6 {
  color: #ffffff;
}

[class^=imghvr-] a,
[class*=" imghvr-"] a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

[class^=imghvr-],
[class*=" imghvr-"],
[class^=imghvr-]:before,
[class^=imghvr-]:after,
[class*=" imghvr-"]:before,
[class*=" imghvr-"]:after,
[class^=imghvr-] *,
[class*=" imghvr-"] *,
[class^=imghvr-] *:before,
[class^=imghvr-] *:after,
[class*=" imghvr-"] *:before,
[class*=" imghvr-"] *:after {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

/* imghvr-shutter-in-*
   ----------------------------- */
[class^=imghvr-shutter-in-]:after, [class^=imghvr-shutter-in-]:before,
[class*=" imghvr-shutter-in-"]:after,
[class*=" imghvr-shutter-in-"]:before {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  content: "";
}

[class^=imghvr-shutter-in-]:after,
[class*=" imghvr-shutter-in-"]:after {
  top: 0;
  left: 0;
}

[class^=imghvr-shutter-in-]:before,
[class*=" imghvr-shutter-in-"]:before {
  right: 0;
  bottom: 0;
}

[class^=imghvr-shutter-in-] figcaption,
[class*=" imghvr-shutter-in-"] figcaption {
  opacity: 0;
  z-index: 1;
}

[class^=imghvr-shutter-in-]:hover figcaption,
[class*=" imghvr-shutter-in-"]:hover figcaption {
  opacity: 1;
  transition-delay: 0.21s;
}

/* imghvr-shutter-in-horiz
   ----------------------------- */
.imghvr-shutter-in-horiz:after, .imghvr-shutter-in-horiz:before {
  width: 0;
  height: 100%;
}

.imghvr-shutter-in-horiz:hover:after, .imghvr-shutter-in-horiz:hover:before {
  width: 50%;
}

img {
  height: 100%;
  width: 100%;
}

.puntaje {
  color: yellow;
  font-weight: 600;
}

.divImagen {
  display: flex;
}

/*# sourceMappingURL=imagehover.css.map */
/*# sourceMappingURL=imagehover.css.map */

/*# sourceMappingURL=style.css.map */
